:root {
  --primary: hsl(322, 100%, 66%);
  --light: hsl(192, 100%, 96%);
  --dark: hsl(192, 100%, 9%);
  --secondary: hsl(208, 11%, 55%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
}

*, input, button {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

body {
  color: var(--secondary);
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 112.5%;
  }
}

@mixin make-container($max-width: 64rem) {
  max-width: $max-width;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@mixin add-shadow($x: 0px, $y: 2px, $z: 4px, $color: rgba(0,0,0,0.25)) {
  box-shadow: $x $y $z $color;
}
