.footer {
  background-color: var(--dark);
  color: rgba(255, 255, 255, 0.75);
  padding-top: 10rem;
  padding-bottom: 10rem;

  &__inner {
    @include make-container;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
  }

  &__column {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &--bg {
      flex: 2 0 200px;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
  }

  &__copy {
    font-size: 0.75rem;
  }
}
