:root {
  --primary: hsl(322, 100%, 66%);
  --light: hsl(192, 100%, 96%);
  --dark: hsl(192, 100%, 9%);
  --secondary: hsl(208, 11%, 55%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
}

*, input, button {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

body {
  color: var(--secondary);
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 112.5%;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__logo {
  display: block;
  width: 10rem;
}

.navbar__inner {
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--light);
  background-image: url("../images/bg-hero-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark);
}

@media only screen and (min-width: 772px) {
  .header {
    background-position: url("../images/bg-hero-desktop.svg");
  }
}

.header__inner {
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  text-align: center;
}

@media only screen and (min-width: 772px) {
  .header__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

@media only screen and (min-width: 772px) {
  .header__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (min-width: 772px) {
  .header__image {
    width: 50%;
  }
}

.button {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  background-color: #fff;
  padding: 1rem 2rem;
  color: var(--dark);
  text-decoration: none;
  font-weight: 700;
  border-radius: 2rem;
}

.button--small {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.button--primary {
  background-color: var(--primary);
  color: #fff;
}

.features {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.features__inner {
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.feature {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  text-align: center;
}

@media only screen and (min-width: 772px) {
  .feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media only screen and (min-width: 772px) {
  .feature--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.feature__title {
  font-size: 1.5rem;
  color: var(--dark);
}

@media only screen and (min-width: 772px) {
  .feature__image {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */